@{
    ViewBag.Title = "About Us";
    ViewBag.Subheading = "Excellence through innovation";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/about-us.png">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Welcome to Engagement Media</h2>
                <h3>
                     New generation digital marketing</h3>
                <p>
                    Totally unique within the digital marketing sector, Engagement Media is the latest evolution
                    in the competitive digital world with a clear intent of answering the needs of customers
                    searching for a range of services online by driving them to relevant sites which
                    respond to their unique requirements.
                </p>
                <p>
                    With a consistent urge and indefatigable spirit we engage the latest online technologies
                    to create a platform enabling customers to discover and connect with all they are
                    looking for, thereby helping you boost your revenue and maximize profitability.”
                </p>
                <p>
                    Our honest approach combined with commitment and confidence to hit deadlines and
                    achieving results nothing short of success have seen our company growing rapidly.
                    Here at Engagement Media, no opportunity is left unexplored as,
                </p>
              
                <p><i class="fa fa-share"></i> We provide solutions to keep your business miles ahead of competitors</p> 
                   <p><i class="fa fa-share"></i> Our IT team develops and designs your website with the latest & trendiest techniques</p>
                   
                   <p><i class="fa fa-share"></i> Fresh minds create enjoyable yet beneficial experiences for customers</p>
                    <p><i class="fa fa-share"></i> Extensive market research enable us to understand your business goals</p>
              <p><i class="fa fa-share"></i> Results define our performance and we do it all passionately</p>
                
                <p>
                    To sum up, we are here to provide what matters the most – everything we can to make
                    sure your business succeeds online. The online world moves rapidly and our mission
                    is to visualize, design and build ways of helping businesses achieve what they want
                    online.</p>
              <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@

@*end body*@