@{
    ViewBag.Title = "Analytics";
    ViewBag.Subheading = "Data driven website analysis";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/analytics.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Measure, report & analyse</h2>
                <h3>
                    Discover your best customers and where they came from</h3>
                <p>
                    Do you have a website? Are you aware of the number of people visiting? Do you know
                    what they do there? Web Analytics are vital to provide you the right understanding
                    of this situation and other aspects of your site’s performance. The ultimate aim
                    of analytics is to determine the changes required.</p>
                <p>
                    Working with the latest analytical techniques enable us to help you monitor emerging
                    digital platforms. With the right data on your best customers, it becomes all easy
                    for you to discover which features are being used on your site the most. It always
                    helps to gain an understanding on how a real enthusiastic visitor uses your site.
                    Our web analytics services are designed to provide you with the opportunity to be
                    sure of your websites success as well as failure quickly and easily.
                </p>
                <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Get better information, a deeper look at what your site is doing online</h2>
        <p>
            Analytics might be very useful for understanding market campaign effectiveness,
            competitor performance, new product and service development, user lifecycle behavior
            patterns, new market entry and many more. We’ll help you analyze your web marketing
            success.</p>
        <p>
            Changes might be needed to be implemented on a regular basis in order to meet the
            business goals. As a result your analytics goals need to reviewed on a regular basis.
            Here at Engagement Media we have an expert bunch of web analytic professionals ready to
            analyze your business goals and help you towards developing a proper plan of action
            that will help grow your site and its overall performance. We’ll provide you with
            reports and insights that’ll help you figure out how the traffic to your site is
            improving over time.
        </p>
        
    </div>
</div>*@
@*end body*@