@{
    ViewBag.Title = "Careers";
    //ViewBag.Subheading = "Excellence through innovation";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/cwu1.png">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    <i class="fa">@*<img src="../Content/images/ovrvw1.png"  height= "22" width="20"/>*@</i>Overview</h2>
                <p>
                     If you’re interested in the journey, love new ideas, new challenges and working with a small but very talented group of people in a rapidly evolving environment, we want to hear from you.</p>
                <p>
                   Engagement Media is one of the fastest growing digital marketing agency, but we can improve nearly every aspect of what we do.
                </p>
              <p>What we care about? A progressive attitude, innovation and creativity, respect, accountability, mutual support, new ideas and exceeding expectations.</p>
            
            </div>
            <div class="welcome">
                <h2>
                   <i class="fa">@*<img src="../Content/images/whyjoin.png" height="22" width="20" />*@</i>Why join us?</h2>
                <h3> 
                    Reasons why working at Engagement Media is fantastic</h3>
                <p>
                    <i class="fa"><img src="../Content/images/blt.png" height="22" width="20" /></i> Amazing things happen here.
                </p>
                <p><i class="fa"><img src="../Content/images/blt.png" height="22" width="20" /></i> We’re building something meaningful.</p>
                <p><i class="fa"><img src="../Content/images/blt.png" height="22" width="20" /></i> Equal opportunity.</p>
                <p><i class="fa"><img src="../Content/images/blt.png" height="22" width="20" /></i> Unfettered growth.</p>

               
            
            </div>
            <div class="welcome">
                <h2>
                 <i class="fa">@*<img src="../Content/images/lf.png" height="22" width="20" />*@</i>Whom We are Looking For?
                    @*<img src="../Content/images/wlfr1.png" class="lkfor" width="32" height="35" />*@
               </h2>
                <p>
                    We’re looking for people with the right attitude and high commitment levels.</p>
                <p>
                 But if you’re already the best in your field, or have the potential to be the best, we need you. To be a part of the team here you need to be self-driven and highly motivated.
                </p>
                <p>
                   While we will train you and empower you to achieve your full potential, you need to be ravenous for knowledge.
                </p>
                <p>
                    If you think that there is something interesting about Engagement Media and if you want to be a part of one of the fastest growing industry, then send us your resume and a compelling cover letter to <a href="mailto:hr@engagementmedia.co.in">hr@engagementmedia.co.in</a> . You will hear from us.
                </p>
            
            </div>
        </div>
    </div>
</div>
@*content body*@

@*end body*@