@{
    ViewBag.Title = "Display Marketing";
    ViewBag.Subheading = "Greater exposure more traffic";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/display-marketings.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                   Promote your business</h2>
                <h3>
                   Displaying your message across for top-of-mind awareness</h3>
                <p>
                    Display marketing as a promotional tool has often been one of the most talked about
                    of all the digital media channels. It has a significant impact on brand awareness.
                    When combined with PPC and SEO it has a massive potential to improve the volume
                    and quality of traffic being driven to your site as well as improve conversion rates.
                    Thus, it can accomplish a great deal for your business.
                </p>
               <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Increase brand awareness and target specific audiences</h2>
        <p>
            Our approach to display marketing begins with listening to our clients and understanding
            their marketing objectives. The display marketing campaigns that we create introduces
            your brand to customers in the best possible way and at the same time builds a nice
            rapport with your targeted audience. This type of online marketing uses text, animation,
            graphics in a visually appealing way which can increase brand visibility and site
            awareness. We here at Engagement Media believe a personalized and targeted approach will
            always provide the most favourable results.
        </p>
        <p>
            Display ads drive user interaction with your brand. The rightly planned ad placements
            put you infront of your target audience raising subconscious awareness. The ad placements
            enable you to drive gain new customers as well as remarket to users who already
            have awareness of your brand.
        </p>
        <p>
            With our advanced and cutting edge targeting techniques, we can help you show your
            display ads to the right audience to create the best possible awareness of your
            business online. Our team of expert professionals have valuable experience of running
            display campaigns to make sure they can provide clients the most targeted audience
            for their campaigns.
        </p>
       
    </div>
</div>*@
@*end body*@