@{
    ViewBag.Title = "Email Marketing";
    ViewBag.Subheading = "Stay in touch with customers";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

 <div class="window-con">
                <div class="container">
                    <div class="window-box">
                        <div class="span6">
                            <div class="window">
                                <img src="../../Content/images/email-marketings.jpg">
                            </div>
                            <div class="window-bottom">
                            </div>
                        </div>
                        <div class="welcome">
                            <h2>
                                Deliver mails more effectively</h2>
                            <h3>
                               Reach your visitors at their inbox</h3>
                            <p>
                                A well thought out and executed email marketing strategy will go deeper in engaging users and help grow your online business. At Engagement Media, our professionals are as much experts on email marketing, as they are on overall creative and designing aspects. You can experience the difference when you work with us. Email Marketing services here at Engagement Media are only designed to help you achieve your online business goals. </p>
                          <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
 @*content body*@
         @*   <div class="con-body">
                <div class="container">
                <h2> Stay connected with your customers</h2>
                    <p>Email marketing is used by thousands of businesses of all sizes across the globe. Cost effective, economical and flexible, email marketing has the potential to get your business on the map apart from being a value addition to your online marketing efforts. This type of marketing provides businesses with access to mass markets at an affordable cost enabling them to undertake a more personalized marketing approach.</p>
                    <p>WE can integrate email marketing to your online marketing strategy to, </p>
                    <ul>
                        <li><i class="fa-angle-right"></i>Educate and engage your customers</li>
                        <li><i class="fa-angle-right"></i>Enhance your brand awareness</li>
                        <li><i class="fa-angle-right"></i>Drive more traffic to your site</li>
                        <li><i class="fa-angle-right"></i>Keep customers reminded of what you offer</li>
                        <li><i class="fa-angle-right"></i>Present cross selling opportunities</li>
                    </ul>
                    <p>Growing the value of your customer relationships while also converting new aspects throws an open challenge. Engagement Media email marketing solutions can make it surprisingly easy and  affordable.</p>
                    </div>
            </div>*@
            
            @*end body*@