@{
    ViewBag.Title = "Mobile Marketing";
    ViewBag.Subheading = "Marketing has gone mobile";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/mobile-marketing.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Get ready to go mobile</h2>
                <h3>
                    Reach your customers everywhere</h3>
                <p>
                    The marketing and business world is getting more and more competitive with every
                    passing hour. To stay ahead of your competitors, you have to work harder than ever.
                    Of all the digital channels, mobile moves fastest. If you are thinking about your
                    mobile marketing strategy, you can only meet your marketing objectives if you do
                    things right. We can help you make it possible in the most effective manner.
                </p>
               <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            See the bigger picture, build a smart mobile marketing strategy</h2>
        <p>
            Our team has the unique combination of skills to help your business get into the
            customer’s pockets. Technical expertise, experience and dedicated group of people
            come together to help you orchestrate campaigns for the mobile platform.</p>
        <p>
            Through mobile marketing you deliver ads to your target demographics so it is important
            to keep in mind that they will view several others as well. Keeping it brief but
            informative will always help we believe. It is also a great way to grab user interest
            and engage them while also collecting behavioral data and insight. We aim to help
            businesses enhance and improve interactions with their consumer base so that they
            can maximize their consumers.</p>
        <p>
            Mobiles are here to stay and have rapidly become an inseparable part of our lives.
            Utilizing people, technology and creativity, we strive to provide mobile marketing
            solutions which are capable of placing the spotlight on your website, business and
            brand to let you take advantage of this phenomenon.</p>
     
    </div>
</div>*@
@*end body*@