@{
    ViewBag.Title = "ORM";
    ViewBag.Subheading = "Promote the positives";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/ORM.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Online Reputation Management</h2>
                <h3>
                    Your reputation is everything</h3>
                <p>
                    Managing your reputation online is of paramount importance. One has to work really
                    hard for years to build a reputation and it has become a significantly influential
                    factor in the world of marketing and business. The Internet and the online media
                    is a big wide world but it is not that hard to get started. We specialize in helping
                    businesses improve the way they are perceived online.</p>
               <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Clear the negatives. Enhance the positives</h2>
        <p>
            Online Reputation management is very important for brands of all sizes. These days
            people digest and leverage lots of opinions to make good choices and we are passionate
            about marketing your online reputation as well as enhancing your positive brand
            position. Our Online Reputation Management (ORM) specialists can help you towards
            keeping control of your brand online to make sure you are miles ahead of your competitors
            in the online race. We understand that ORM is the summation of controlling, managing
            and monitoring interaction of brands online and so do our ORM experts. Our services
            are designed to safeguard your interest in the virtual world.</p>
        <p>
            People and businesses these days are dependent on marketing mediums to expand their
            reach. Research and analysis tend to show that the online presence of a business
            has a significant impact on its business offline. So, if you want your business
            to stand out from the rest our ORM professionals are ready to take care of it as
            we believe your online name matters!</p>
          
      
    </div>
</div>*@
@*end body*@