@{
    ViewBag.Title = "Pay Per Click";
    ViewBag.Subheading = "Raise conversions. Drive ROI";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/ppc1.png" style="height: 200px;">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Attaract more users</h2>
                <h3>
                   Expert PPC strategies assure instant traffic to your site</h3>
                <p>
                    To take your business progressively and consistently miles ahead in the cut throat
                    competitive market, one should be fast enough to reach your target audience instantly.
                    Online advertising enables marketing firms to ensure a great positioning in the
                    search results.
                </p>
                <p>
                    Pay Per Click advertising (PPC) is one of those models where advertisers pay the
                    publisher when an ad is clicked. This technique plays a significant role in helping
                    the advertiser in winning potential and loyal customers. Our Pay Per Click campaigns
                    are designed to focus on delivering more conversions as we believe in communicating
                    with a well researched, thoroughly relevant and wholly appropriate audience and
                    it is money well spent.</p>
               <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Taking your paid search advertising to new heights</h2>
        <p>
            PPC advertising enables you to choose keywords that are relevant to your business and bid on those keywords to ensure ads for your company appear high in Google rankings when people search on those keywords. With the help of PPC you can keep track of the ad campaigns that attract visitors, lead conversion and performance of online advertisements.</p>
            <p>Here at Engagement Media, our PPC specialists help you, </p>
        <ul>
            <li><i class="fa-angle-right"></i>Target the right kind of visitor you need for your website</li>
            <li><i class="fa-angle-right"></i>Understand the search and buying behavior of your audience</li>
            <li><i class="fa-angle-right"></i>Shape campaigns based on actual keyword traffic data and goal conversions</li>
            <li><i class="fa-angle-right"></i>Exclude the wrong keywords and the wrong visitors</li>
        </ul>
    </div>
</div>*@
@*end body*@