@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/privacy-policy.jpg" style="height: 265px;">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
               
                <p>
                    Your privacy is extremely important to us and we strive to safeguard and preserve
                    your privacy. This privacy policy sets out how we use and protect any information
                    that you provide us while using this site. We will not share, sell or trade this
                    information to anyone in ways different from what is disclosed in this privacy policy</p>
                <p>
                    Engagement Media is committed to make sure that your privacy is protected by all means.
                    Any information that we might ask you to provide through which you can be identified
                    when using this website, you can be assured that it will only be used as per this
                    privacy statement.</p>
                <h2>
                    Information that we collect:</h2>
                <p>
                    We might ask you to provide us the following information:</p>
                <p>
                    <i class="fa fa-share"></i> Name and your email</p>
                    <p><i class="fa fa-share"></i> Subject and Message</p>
                    <p><i class="fa fa-share"></i> Postcode and any other contact information</p>
                    <p><i class="fa fa-share"></i> Other information relevant to customer survey</p>
               
                <h2>
                    How we use the information gathered?</h2>
                <p>
                    We need this information in order to get an understanding of your requirements to
                    enable us provide you with a better service. We may use the information for the
                    following reasons:</p>
               
                    <p><i class="fa fa-share"></i> Internal record keeping</p>
                    <p> <i class="fa fa-share"></i> To bring any changes and improvement in our services</p>
                    <p><i class="fa fa-share"></i> From time to time, we might use your information to contact you for market research
                        purposes</p>
                    <p><i class="fa fa-share"></i> We may use any information to customize the website as per your interests</p>
          
                <h2>
                    Data security:</h2>
                <p>
                    Here at Engagement Media, we are committed to keep your information secure and confidential.
                    We employ all means to prevent unauthorized access and disclosure. We are always
                    ready to take reasonable steps and measures to ensure your data is treated securely
                    without any loss, misuse or alteration of information.</p>
                <p>
                    The transmission of information online might not be completely safe and secure.
                    For these reasons we cannot guarantee the security of data sent to us electronically
                    and transmission of such data is therefore entirely at your own risk.</p>
                <p>
                    Data and any contact information sent to us is collected and stored on secured servers
                    placing reasonable as well as appropriate physical, electronic and managerial procedures
                    to safeguard and secure the information.</p>
                <h2>
                    Notification of any changes:</h2>
                <p>
                    Engagement Media might update these privacy policy terms from time to time and once published
                    these changes will become immediately effective. We can notify you by posting a
                    prominent announcement on our web pages.</p>
                <h2>
                    The Use of Cookies:</h2>
                <p>
                    Cookies' are small text files that are stored by your web browser on your computer's
                    hard drive. Cookies help us provide you with a better website, by enabling us to
                    monitor which pages you find useful and which you do not. This helps us analyze
                    data about website traffic and improve our site to tailor it to user needs.</p>
                <p>
                    A cookie in no way gives us access to your computer or any information about you,
                    other than the data you choose to share with us.</p>
                <p>
                    We may use and utilize this information in order to keep an eye on your movements
                    through our website so that we can find out how they are being used and how we can
                    improve your experience. The information and personal details that we collect this
                    way is personally not identifiable.</p>
                <p>
                    Cookies may be session based i.e. they expire when the browser session ends or persistent
                    which remain on your hard drive for a longer duration.</p>
                <p>
                    You can choose to accept or decline cookies. Many web browsers automatically accept
                    cookies, but you can usually modify your browser setting to decline cookie if you
                    prefer. If you would like more information about cookies and how to control them
                    no matter what version and which software you are using, go to www.allaboutcookies.org</p>
                <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@ @*end body*@