@{
    ViewBag.Title = "SEO";
    ViewBag.Subheading = "Your website on page one";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/seo_01.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Search Engine Optimization</h2>
                <h3>
                   Enhancing your web presence in the organic search results</h3>
                <p>
                    With millions of websites already on the world wide web, more and more are being
                    added continuously it becomes all the more important to ensure your targeted customers
                    find you first.
                </p>
                <p>
                    Search Engine Optimization is all about setting up of your website in a way so that
                    it ranks highly in the search engines for specific keywords and phrases. Our SEO
                    experts can help you avoid costly mistakes that will make your website unattractive
                    to Google and other search engines.</p>
               <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            heading</h2>
        <p>
            Any website’s SEO strategy plays a significant role and is one of the most important
            part of good online marketing. Search Engine Optimization is one of the most affordable
            forms of online marketing and it can be one of the most effective with a high return
            on investment.
        </p>
        <p>
            Why do you need a good SEO strategy?
        </p>
        <ul>
            <li><i class="fa-angle-right"></i>To improve rankings within the search results</li>
            <li><i class="fa-angle-right"></i>To divert maximum quality web traffic towards your
                site</li>
            <li><i class="fa-angle-right"></i>It’s a decisive factor of promotion of your website</li>
            <li><i class="fa-angle-right"></i>This process ensures the easy accessibility of web
                pages</li>
        </ul>
        <p>
            We can help your grow your business with our SEO skills. Our approach is entirely
            focused on providing a great return on your investment.</p>
        <p>
            Your website is nothing if your customers cannot find it. We have experts who can
            ensure your site is high in search engine rankings and is effectively marketed!</p>
    </div>
</div>*@
@*end body*@