@{
    ViewBag.Title = "Social Media";
    ViewBag.Subheading = "Use social channels effectively";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/socialmedia.jpg">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    Utilize key social platforms</h2>
                <h3>
                    Its time to market beyond the search engines</h3>
                <p>
                    Social Media platforms provide a massive amount of exposure to your brands with
                    the number of people logging into social media sites with their phones, tablets,
                    laptops and personal computers skyrocketing every now and then. There is no need
                    for you to loose sleep over your social media marketing efforts. Here at Engagement Media,
                    we have a creative bunch of social media experts ready to help you carve out the
                    right strategy that’ll take your business ahead and profits beyond your expectations.
                </p>
              <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Social media to promote brand and bring new customers</h2>
        <p>
            Online interactive platforms like Facebook, Twitter, LinkedIn, Youtube, Blogs and
            others are easily accessible to anyone with an internet access which again makes
            social media marketing one of the better ways to spread your message and attract
            new customers. Social media marketing is a lot more about building relationships.
            Each and every interaction as well as discussion you have through social media has
            the potential to reach many people at a time. Once you have followers, subscribers
            and fans who are willing to listen to what you have to say, a consistent and long
            term approach is usually the most effective.</p>
        <p>
            We provide a full suite of social media marketing services. We create as well as
            lead powerful social media campaigns that promote your brand, build relationships,
            drive repeat business and attract new customers through friends sharing with friends.</p>
        <p>
            Whether you’re just getting started, consider yourself a pro, sitting on the side
            lines or wondering if social media marketing is right for you, we are here to give
            you a feeling of power and importance in the marketplace.</p>
       
    </div>
</div>*@
@*end body*@