@{
    ViewBag.Title = "Terms and Conditions";
    ViewBag.Subheading = "hgjgjhgj";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

 <div class="window-con">
                <div class="container">
                    <div class="window-box">
                        <div class="span6">
                            <div class="window">
                                <img src="../../Content/images/ORM.jpg">
                            </div>
                            <div class="window-bottom">
                            </div>
                        </div>
                        <div class="welcome">
                            <h2>
                                Welcome to ......</h2>
                            <h3>
                                hjvgfgvkdfh dgjdhgj gghjg fg hlhlghhj</h3>
                            <p>
                                Nam enim risus, molestie et, porta. Quisque lobortis. Phasellus pellentesque purus
                                in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed
                                ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis
                                leo purus venenatis dui. Nam enim risus, molestie et, porta. Quisque lobortis. Phasellus
                                pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque
                                semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam
                                nisi, eu iaculis leo purus venenatis dui</p>
                          <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
 @*content body*@
            <div class="con-body">
                <div class="container">
                <h2>heading</h2>
                <p>Nam enim risus, molestie et, porta. Quisque lobortis. Phasellus pellentesque purus
                    in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed
                    ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis</p>
                    <ul>
                        <li><i class="fa-angle-right"></i>points</li>
                        <li><i class="fa-angle-right"></i>points</li>
                       <li><i class="fa-angle-right"></i>points</li>
                        <li><i class="fa-angle-right"></i>points</li>
                    </ul>
                    </div>
            </div>
            
            @*end body*@