@{
    ViewBag.Title = "Web Development";
    ViewBag.Subheading = "Strategic custom development";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<div class="window-con">
    <div class="container">
        <div class="window-box">
            <div class="span6">
                <div class="window">
                    <img src="../../Content/images/webdevbig.png">
                </div>
                <div class="window-bottom">
                </div>
            </div>
            <div class="welcome">
                <h2>
                    We are technology focussed</h2>
                <h3>
                    Developing sites that work for you and your customers</h3>
                <p>
                    In this rapidly changing online world, a website is much more than stunning design
                    and great imagery. Your website is like your online workplace. Today the people
                    are armed with a range of technological devices and it is important to put real
                    weight behind your brand. Engagement Media web development team is here to build websites
                    which have the potential to deliver an outstanding user experience adapted to your
                    business embracing the best and the latest technological tools.</p>
              <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
@*content body*@
@*<div class="con-body">
    <div class="container">
        <h2>
            Latest technologies & techniques to enhance visibility & user engagement</h2>
        <p>
            We research, plan, and develop websites taking into account the needs and goals of your company. There is no limit to what can be achieved through hardwork and conviction and our web development experts love challenges. Your website defines who you are and what you do and we are here to ensure our extensive experience comes into play.</p>
        <p>After planning your website’s development solutions, we strive to generate engaging content. Content tends to be the ultimate driving factor – it should be informative, relevant yet appealing to bring visitors and turn them into loyal customers.</p>
        <p>Our team of professionals, with a wealth of experience in this field recognize the basic requirements of various brands to develop your brand in a way that “ first impression is best impression” as they believe that success is more than just technical and creative expertise.</p>
         <p>Our web development team can also deliver a solution to make sure your website has the “wow” factor along with the ability to adapt to the short run and long run demands of modern businesses.</p>
    </div>
</div>*@
@*end body*@