@{
    ViewBag.Title = "Web Designing";
    ViewBag.Subheading = "Creative visualization";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

 <div class="window-con">
                <div class="container">
                    <div class="window-box">
                        <div class="span6">
                            <div class="window">
                                <img src="../../Content/images/web-design.jpg">
                            </div>
                            <div class="window-bottom">
                            </div>
                        </div>
                        <div class="welcome">
                            <h2>
                                Discover a world of creativity</h2>
                            <h3>
                              Unique designs customized to your business objectives</h3>
                            <p>
                                In a competitive market where things tend to change rapidly, website design is almost like the foundation on which you establish your online business presence. We believe a website should be more than just animation and pretty graphics. Our design experts aim to keep it simple, beautiful, fresh, interesting and engaging which is consistent with your brand image as well as corporate messaging, above all customized to your requirements.</p>
                           <a class="newbutton" href="@Url.Action("ContactUS","Home")">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
 @*content body*@
           @* <div class="con-body">
                <div class="container">
                <h2>We design responsive websites that strike the right chord and generate business</h2>
                    <p>Now a days when people need a product or service, they tend to search on the internet. A professionally inclined website design is more than making something nice to look at. It is essential to have a really close look at your competitors to understand more about the current trends. Understanding your business and using our skills and knowledge we’ll package it into a greatly designed site that looks good enough to provide the real Return on Investment.</p>
                    <p>If you provide your visitors and target audience with a good user experience, they are more likely to take action. A good example of effective website design would be the case of a website which has been optimized to suit desktop computers, laptops, tablets, smartphones as well as other mobile devices. We can help you to design a site that surpasses your visual expectations and imaginations as well as help drive new visitors to your business. </p>
                    <p>Passionate about designs, we always work hard to create sites which are visually stimulating, technically robust and easy to use providing an unforgettable user experience.</p>
                  
                    </div>
            </div>
            *@
            @*end body*@