<div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
    <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg1.jpg" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption big_white_new sfr" data-x="650" data-y="123" data-speed="300"
                data-start="1100" data-easing="easeOutExpo">
               Expertise for online success
</div>
            <div class="tp-caption small_whitebg sfr" data-x="654" data-y="175" data-speed="300"
                data-start="1400" data-easing="easeOutExpo">
                Strategic impact customized to your digital goals!
</div>
            <div class="tp-caption medium_text_white sfr" data-x="654" data-y="216" data-speed="300"
                data-start="1700" data-easing="easeOutExpo">
                Competitive, Reliable and Professionals every step of the way – that why<br/> Engagement Media online marketing platforms are preferred by brands to<br/> manage their online customer interactions.</div>
          @*  <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>*@
            <div class="tp-caption lfb" data-x="-30" data-y="32" data-speed="300" data-start="800"
                data-easing="easeOutExpo">
                <img src="../../Content/images/hand.png" width="700" height="400" alt="Image 6"></div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg12.jpg" alt="bg_light" data-fullwidthcentering="true">
            <div class="tp-caption small_greybg sfl" data-x="60" data-y="156" data-speed="300"
                data-start="1400" data-easing="easeOutExpo">
                Strengthen your online presence and conversion rates</div>
            <div class="tp-caption medium_text_blacks sfl" data-x="60" data-y="199" data-speed="300"
                data-start="1700" data-easing="easeOutExpo">
               Our PPC services are designed to maximize ROI with a strategic approach that makes<br/> your budget work harder while driving considerable traffic to your site.
                </div>
            <div class="tp-caption te-caption sfl" data-x="60" data-y="101" data-speed="300"
                data-start="1100" data-easing="easeOutExpo">
                PPC advertising solutions</div>
          @*  <div class="tp-caption sfb" data-x="60" data-y="290" data-speed="300" data-start="2000"
                data-easing="easeOutExpo">
                <a href='#' class='tp-button lightgrey small'>Get Started now!</a></div>*@
            <div class="tp-caption sfr" data-x="700" data-y="100" data-speed="300" data-start="800"
                data-easing="easeOutExpo">
                <img src="../../Content/images/ppc1.png" alt="Image 6"></div>
        </li>
        @*<li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg11.jpg" alt="bg_light6" data-fullwidthcentering="true">
            <div class="tp-caption sfl" data-x="0" data-y="8" data-speed="300" data-start="500"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/seo_01.jpg"  width="548" height="438"alt="Image 1"></div>
            <div class="tp-caption te-caption sfr" data-x="579" data-y="89" data-speed="300"
                 data-start="800" data-easing="easeOutExpo">*@ @*  zzzzzzzzzzzzzzzzzzzzzz</div>*@
        @*<div class="tp-caption sfb" data-x="591" data-y="203" data-speed="900" data-start="1400"
                data-easing="easeOutElastic">
                <img src="../../Content/images/logo1.png" alt="Image 3"></div>
            <div class="tp-caption sfb" data-x="707" data-y="190" data-speed="900" data-start="1700"
                data-easing="easeOutElastic">
                <img src="../../Content/images/logo21.png" alt="Image 4"></div>
            <div class="tp-caption sfb" data-x="925" data-y="198" data-speed="900" data-start="2000"
                data-easing="easeOutElastic">
                <img src="../../Content/images/logo31.png" alt="Image 5"></div>*@ @*    <div class="tp-caption medium_whitebg sfr" data-x="578" data-y="131" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                rrrrrrrrrrrrrr<a href="#"> endless possibilities.</a></div>
        </li>*@ @* <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg2.jpg" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption te-caption sfr" data-x="566" data-y="123" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                ooooooooooooo</div>
            <div class="tp-caption small_whitebg sfr" data-x="566" data-y="175" data-speed="300"
                 data-start="1400" data-easing="easeOutExpo">
                dgggdggfdfgggggggggggfgfggffg</div>
            <div class="tp-caption medium_text_grey sfr" data-x="570" data-y="216" data-speed="300"
                 data-start="1700" data-easing="easeOutExpo">
                werwewreewrwerwerrewerwrewthe experience of building websites,<br />
                taking away the tedious code allows you to concentrate on being creative.</div>
            <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                 data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>
            <div class="tp-caption lfb" data-x="0" data-y="32" data-speed="300" data-start="800"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/digital.png"alt="Image 6"></div>
        </li>*@
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg1.jpg" alt="bg_light3" data-fullwidthcentering="true">
            <div class="tp-caption lft" data-x="21" data-y="40" data-speed="1100" data-start="500"
                data-easing="easeOutExpo">
                <img src="../../Content/images/web.png" width="500" height="300" alt="Image 1"></div>
            @* <div class="tp-caption lft" data-x="0" data-y="54" data-speed="1100" data-start="800"
                data-easing="easeOutExpo">
                <img src="../../Content/images/phone_img2.png" alt="Image 2"></div>*@
            <div class="tp-caption big_white_new sfr" data-x="567" data-y="123" data-speed="300"
                data-start="1100" data-easing="easeOutExpo">
                High performance web development</div>
            <div class="tp-caption medium_text_white sfr" data-x="570" data-y="216" data-speed="300"
                data-start="1700" data-easing="easeOutExpo">
               Our web developers make sure they utilize solid domain experience, technical<br/> expertise and latest technologies to come up with quality driven web solutions.    </div>
          @*  <div class="tp-caption sfb" data-x="570" data-y="288" data-speed="300" data-start="2000"
                data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>gggggggggggggggggg</a></div>*@
            <div class="tp-caption small_whitebg sfr" data-x="570" data-y="175" data-speed="300"
                data-start="1400" data-easing="easeOutExpo">
                Web development solutions to achieve your business objective</div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/slider-img.png" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption te-caption sfr" data-x="565" data-y="123" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                Power of Social Media</div>
            <div class="tp-caption small_greybg sfr" data-x="566" data-y="175" data-speed="300"
                 data-start="1400" data-easing="easeOutExpo">
                Raise your brand awareness with interactive online platforms</div>
            <div class="tp-caption medium_text_blacks sfr" data-x="566" data-y="216" data-speed="300"
                 data-start="1700" data-easing="easeOutExpo">
                Our cutting edge social media strategy follows the latest trends to promote your<br/> business online among individuals and communities. </div>
            @*  <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>*@
            <div class="tp-caption lfb" data-x="0" data-y="32" data-speed="300" data-start="800"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/socialmedia.png" width="548" height="438" alt="Image 6"></div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/slider-img.png" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption te-caption sfr" data-x="565" data-y="123" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                Unique Web Design Solution</div>
            <div class="tp-caption small_greybg sfr" data-x="566" data-y="175" data-speed="300"
                 data-start="1400" data-easing="easeOutExpo">
                Creative website design that reflects your business identity</div>
            <div class="tp-caption medium_text_blacks sfr" data-x="566" data-y="216" data-speed="300"
                 data-start="1700" data-easing="easeOutExpo">
                Our web design team makes your website look simple yet beautiful<br />  providing the professional competitive edge that reflects your business identity.</div>
            @*  <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>*@
            <div class="tp-caption lfb" data-x="0" data-y="100" data-speed="300" data-start="800"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/wd.png" alt="Image 6"></div>
        </li>
        
        @* <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg1.jpg" alt="bg_light6" data-fullwidthcentering="true">
            <div class="tp-caption sfl" data-x="0" data-y="8" data-speed="300" data-start="500"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/emails.png" alt="Image 1"></div>
            <div class="tp-caption te-caption sfr" data-x="579" data-y="89" data-speed="300"
                 data-start="800" data-easing="easeOutExpo">
                zzzzzzzzzzzzzzzzzzzzzz</div>
            <div class="tp-caption sfb" data-x="591" data-y="203" data-speed="900" data-start="1400"
                 data-easing="easeOutElastic">
                <img src="../../Content/images/envelope1.png" alt="Image 3"></div>
            <div class="tp-caption sfb" data-x="707" data-y="190" data-speed="900" data-start="1700"
                 data-easing="easeOutElastic">
                <img src="../../Content/images/envelope2.png" alt="Image 4"></div>
            <div class="tp-caption sfb" data-x="925" data-y="198" data-speed="900" data-start="2000"
                 data-easing="easeOutElastic">
                <img src="../../Content/images/envelope3.png" alt="Image 5"></div>
            <div class="tp-caption medium_whitebg sfr" data-x="578" data-y="131" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                rrrrrrrrrrrrrr<a href="#"> endless possibilities.</a></div>
        </li>*@ @*<li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg1.jpg" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption te-caption sfr" data-x="566" data-y="123" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                ooooooooooooo</div>
            <div class="tp-caption small_whitebg sfr" data-x="566" data-y="175" data-speed="300"
                 data-start="1400" data-easing="easeOutExpo">
                dgggdggfdfgggggggggggfgfggffg</div>
            <div class="tp-caption medium_text_grey sfr" data-x="570" data-y="216" data-speed="300"
                 data-start="1700" data-easing="easeOutExpo">
                werwewreewrwerwerrewerwrewthe experience of building websites,<br />
                taking away the tedious code allows you to concentrate on being creative.</div>
            <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                 data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>
            <div class="tp-caption lfb" data-x="0" data-y="32" data-speed="300" data-start="800"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/mobile.png" width="548" height="438" alt="Image 6"></div>
        </li>*@ @* <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
            <img src="../../Content/images/bg1.jpg" alt="bg" data-fullwidthcentering="true">
            <div class="tp-caption te-caption sfr" data-x="566" data-y="123" data-speed="300"
                 data-start="1100" data-easing="easeOutExpo">
                ooooooooooooo</div>
            <div class="tp-caption small_whitebg sfr" data-x="566" data-y="175" data-speed="300"
                 data-start="1400" data-easing="easeOutExpo">
                dgggdggfdfgggggggggggfgfggffg</div>
            <div class="tp-caption medium_text_grey sfr" data-x="570" data-y="216" data-speed="300"
                 data-start="1700" data-easing="easeOutExpo">
                werwewreewrwerwerrewerwrewthe experience of building websites,<br />
                taking away the tedious code allows you to concentrate on being creative.</div>
            <div class="tp-caption sfr" data-x="566" data-y="284" data-speed="300" data-start="2000"
                 data-easing="easeOutExpo">
                <a href='#' class='tp-button darkgrey small'>tttttttttttttt</a></div>
            <div class="tp-caption lfb" data-x="0" data-y="32" data-speed="300" data-start="800"
                 data-easing="easeOutExpo">
                <img src="../../Content/images/remarketing1.png" width="548" height="438" alt="Image 6"></div>
        </li>*@
    </ul>
</div>
@*<script type="text/javascript">

    var tpj = jQuery;

    var revapi1;

    tpj(document).ready(function () {
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
					    delay: 9000,
					    startwidth: 1170,
					    startheight: 430,
					    hideThumbs: 200,

					    thumbWidth: 100,
					    thumbHeight: 50,
					    thumbAmount: 5,

					    navigationType: "both",
					    navigationArrows: "solo",
					    navigationStyle: "square",

					    touchenabled: "on",
					    onHoverStop: "on",

					    navigationHAlign: "center",
					    navigationVAlign: "bottom",
					    navigationHOffset: 0,
					    navigationVOffset: 30,

					    soloArrowLeftHalign: "left",
					    soloArrowLeftValign: "center",
					    soloArrowLeftHOffset: 20,
					    soloArrowLeftVOffset: 0,

					    soloArrowRightHalign: "right",
					    soloArrowRightValign: "center",
					    soloArrowRightHOffset: 20,
					    soloArrowRightVOffset: 0,

					    shadow: 0,
					    fullWidth: "on",
					    fullScreen: "off",

					    stopLoop: "off",
					    stopAfterLoops: -1,
					    stopAtSlide: -1,

					    shuffle: "off",

					    autoHeight: "off",
					    forceFullWidth: "off",

					    hideThumbsOnMobile: "off",
					    hideBulletsOnMobile: "on",
					    hideArrowsOnMobile: "on",
					    hideThumbsUnderResolution: 0,

					    hideSliderAtLimit: 0,
					    hideCaptionAtLimit: 768,
					    hideAllCaptionAtLilmit: 0,
					    startWithSlide: 0,
					    videoJsPath: "plugins/revslider/rs-plugin/videojs/",
					    fullScreenOffsetContainer: ""
					});

    }); //ready
</script>*@
<script type="text/javascript">

    jQuery(document).ready(function () {



        jQuery('rev_slider_1_1').revolution(
					{
					    dottedOverlay: "none",
					    delay: 16000,
					    startwidth: 1170,
					    startheight: 700,
					    hideThumbs: 200,

					    thumbWidth: 100,
					    thumbHeight: 50,
					    thumbAmount: 5,

					    navigationType: "bullet",
					    navigationArrows: "solo",
					    navigationStyle: "preview2",

					    touchenabled: "on",
					    onHoverStop: "on",

					    swipe_velocity: 0.7,
					    swipe_min_touches: 1,
					    swipe_max_touches: 1,
					    drag_block_vertical: false,

					    parallax: "mouse",
					    parallaxBgFreeze: "on",
					    parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

					    keyboardNavigation: "off",

					    navigationHAlign: "center",
					    navigationVAlign: "bottom",
					    navigationHOffset: 0,
					    navigationVOffset: 20,

					    soloArrowLeftHalign: "left",
					    soloArrowLeftValign: "center",
					    soloArrowLeftHOffset: 20,
					    soloArrowLeftVOffset: 0,

					    soloArrowRightHalign: "right",
					    soloArrowRightValign: "center",
					    soloArrowRightHOffset: 20,
					    soloArrowRightVOffset: 0,

					    shadow: 0,
					    fullWidth: "on",
					    fullScreen: "off",

					    spinner: "spinner4",

					    stopLoop: "off",
					    stopAfterLoops: -1,
					    stopAtSlide: -1,

					    shuffle: "off",

					    autoHeight: "off",
					    forceFullWidth: "off",



					    hideThumbsOnMobile: "off",
					    hideNavDelayOnMobile: 1500,
					    hideBulletsOnMobile: "off",
					    hideArrowsOnMobile: "off",
					    hideThumbsUnderResolution: 0,

					    hideSliderAtLimit: 0,
					    hideCaptionAtLimit: 0,
					    hideAllCaptionAtLilmit: 0,
					    startWithSlide: 0,
					    videoJsPath: "rs-plugin/videojs/",
					    fullScreenOffsetContainer: ""
					});




    }); //ready
</script>