nav
{
   
    float: right;
    padding: 15px;
border-radius: 5px;
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
margin: 27px;
    color: #2c3e50;
   /* background: #2A3644;*/ /*border: 1px solid #222;*/
    background-color: #dd5353;
}

html body ul.sf-menu ul, html body ul.sf-menu ul li
{
    width: 220px;
}

html body ul.sf-menu ul ul
{
    margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu, ul.sf-menu *
{
    margin: 0;
    padding: 0;
}

ul.sf-menu
{
    display: block;
    position: relative;
}

ul.sf-menu li
{
    display: block;
    list-style: none;
    float: left;
    position: relative;
}

ul.sf-menu li:hover
{
    visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a
{
    display: block;
    position: relative;
}

ul.sf-menu ul
{
    position: absolute;
    left: 0;
    width: 150px;
    top: auto;
    left: -999999px;
}

ul.sf-menu ul a
{
    zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li
{
    float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
    width: 150px;
}

ul.sf-menu ul ul
{
    top: 0;
    margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul, ul.sf-menu li:focus ul, ul.sf-menu li.sf-hover ul, ul.sf-menu ul li:hover ul, ul.sf-menu ul li:focus ul, ul.sf-menu ul li.sf-hover ul, ul.sf-menu ul ul li:hover ul, ul.sf-menu ul ul li:focus ul, ul.sf-menu ul ul li.sf-hover ul, ul.sf-menu ul ul ul li:hover ul, ul.sf-menu ul ul ul li:focus ul, ul.sf-menu ul ul ul li.sf-hover ul
{
    left: auto;
}

ul.sf-menu li:hover ul ul, ul.sf-menu li:focus ul ul, ul.sf-menu li.sf-hover ul ul, ul.sf-menu ul li:hover ul ul, ul.sf-menu ul li:focus ul ul, ul.sf-menu ul li.sf-hover ul ul, ul.sf-menu ul ul li:hover ul ul, ul.sf-menu ul ul li:focus ul ul, ul.sf-menu ul ul li.sf-hover ul ul, ul.sf-menu ul ul ul li:hover ul ul, ul.sf-menu ul ul ul li:focus ul ul, ul.sf-menu ul ul ul li.sf-hover ul ul
{
    left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow
{
    width: 7px;
    height: 7px;
    position: absolute;
    top: 20px;
    right: 5px;
    display: block;
    background: url(../images/arrows-white.png) no-repeat 0 0;
    overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
    font-size: 1px;
}

ul ul span.sf-arrow
{
    right: 5px;
    top: 20px;
    background-position: 0 100%;
}

/* Theming the menu */
ul#nav
{
    float: left;
}

ul#nav ul
{
   /* background:#2A3644;*/
    background: #dd5353;
    margin-top: 15px;
    padding-bottom: 15px;
}

ul#nav li a
{
    padding: 7px 25px 6px 25px;
    text-decoration: none;
    color: #FFF;
    margin-right: 2px;
    font-size: 16px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus
{
    color: #ffffff;
    text-shadow: none;
}

ul#nav ul li a
{
    color: #FFF;
}

ul#nav ul li a:hover
{
    color: #ffffff;
    background-color: #2A3644;
    margin-right: 2px;
}

/* Image Transitions */
ul#images
{
    margin: 0 15px 10px 0;
    padding: 0;
    list-style: none;
    position: relative;
}

ul#images li
{
    display: block;
    overflow: hidden;
    padding: 0;
    float: left;
    width: 155px;
    height: 300px;
}